server {
  listen 80;

  root /usr/share/nginx/html;
  index index.html;

  gzip on;
  gzip_types text/plain text/css application/json application/javascript application/xml image/svg+xml;
  gzip_min_length 1024;

  location / {
    try_files $uri $uri/ /index.html;
  }

  # Proxy API → gateway (mantener /api en la URL)
  location /api/ {
    proxy_pass http://gateway:8080;   # 👈 sin “/”
    proxy_redirect off;
  }

  location = /health {
    add_header Content-Type text/plain;
    return 200 'ok';
  }
}
